<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Data Visualization</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--<script src="https://d3js.org/d3.v5.min.js"></script>-->

</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="goodindex.html">U.S. Public Education Funding</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Analysis
        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="salary.html">Teacher Salary Analysis</a>
                            <a class="dropdown-item" href="map.html">School Funding Analysis</a>
                            <a class="dropdown-item" href="TestScores.html">Test Score Analysis</a>
                            <a class="dropdown-item" href="machine.html">Machine Learning</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="team.html">Team</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="banner text-center">
        <h1>U.S. Public Education Funding</h1>
    </div>
    <div class="col-md-3">
        <h1 class="caption center-block text-center">
            <font color="rgb(3, 39, 66)"></font>
        </h1>
        <p class="py-5 text-center">
            <font color="rgb(3, 39, 66)"></font>
        </p>
    </div>

    <div class="container" style="margin-top:10px">
        <div class="row">
            <div class="col-sm-12">
                <h3>
                    <font color="black">
                        <center>Our Topic</center>
                    </font>
                </h3>
            </div>
            <div class="col-md-12">
                <p>
                    <font color="black">
                        In 2018-2019 almost <a href="https://www.washingtonpost.com/us-policy/2019/02/14/with-teachers-lead-more-workers-went-strike-than-any-year-since/?utm_term=.d6ae6895c942">half a million public school teachers</a> (and educational
                        staff) have protested or participated in strikes across the United States. Many of these protests/strikes were related to the <a class="text-danger">#RedforEd</a> movement. The demands varied by state but highlighted teacher’s
                        dissatisfaction with compensation, funding, working conditions, and support services for students.</font>
                </p>

                <p>
                    <font color="black">This project analyzes U.S. education data to better what led to statewide protests/strikes in 7 states: Arizona, Colorado, Kentucky, North Carolina, Oklahoma, South Carolina, Virginia, and West Virginia. Note: There have also been
                        municipal level protests in California, Georgia, and Tennesse. In order to contain project scope these smaller protests are not included in our analysis. </font>
                </p>
            </div>
        </div>
    </div>


    <div align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/x_rn9DHFbGY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

    <div class="container" style="margin-top:40px">
        <div class="row">
            <div class="col-sm-12">
                <h3>
                    <font color="black">
                        <center>An Overview of Teacher Protests by State 2018-2019*</center>
                    </font>
                </h3>
            </div>
            <div class="container" style="margin-top:40px">
                <div class="col-sm-4">
                </div>

                <div class="map container">
                </div>


                <div class="container" style="margin-top:40px">
                    <h3>
                        <font color="black">
                            <center>Our Analysis</center>
                        </font>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button type="button" class="btn btn-outline-info btn-lg"><a href="salary.html">Teacher Salary Analysis</a></button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-outline-info btn-lg" align="center"><a href="map.html">School Funding Map</a></button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-outline-info btn-lg"><a href="TestScores.html">Test Scores Analysis</a></button>
                    </div>
                    <div class="col-3">
                    <button type="button" class="btn btn-outline-info btn-lg"><a href="ML.html">Machine Learning</a></button>
                    </div>
                </div>
                <div class="container" style="margin-top:40px">
                    <div class="row">
                        <p><center>*This map was pulled from https://en.wikipedia.org/wiki/File:2018_education_strikes_results_by_state.png</center></p>
                        <div class="col-sm-12">
                            
                            <div class="container" style="margin-top:40px">
                                <footer>
                                    <p>Created by The 6 Musketeers for GW Data Analytics Bootcamp - 2019</p>
                                </footer>
                            </div>


</body>

</html>